<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-lg-8 offset-lg-2">
            <form class="form-validation" action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Enter title:</label>
                    <input class="form-control" type="text" name="campground[title]" id="title"
                        placeholder="title of campground" value="<%= campground.title %>" required>
                    <div class="valid-feedback">Looks good</div>
                </div>

                <div class=" mb-3">
                    <label class="form-label" for="location">Enter location:</label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        placeholder="location" value="<%= campground.location %>" required>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="mb-3">
                    <label for="imgInput" class="form-label">Add additional images:</label>
                    <input class="form-control" type="file" id="imgInput" name="image" multiple>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Enter Campground price:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price">$</span>
                        <input type="text" class="form-control" placeholder="0.00" name="campground[price]"
                            aria-describedby="price" value="<%= campground.price %>" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Enter Description:</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required><%= campground.description %></textarea>
                    <div class="valid-feedback">Looks good</div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach((img, i)=> { %>
                        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <!-- creates an deleteImg array and whenever a checkbox is checked it adds its value to the array -->
                            <input type="checkbox" id="img-<%= i %>" name="deleteImg[]" value="<%=img.filename %>">
                        </div>
                        <label for="img-<%= i %>">Delete?</label>
                        <% }) %>
                </div>

                <div class="mb-3">
                    <button class="btn btn-primary">Save!</button>
                </div>
                <div class="mb-3">
                    <a class="btn btn-secondary" href="/campgrounds/<%=campground._id%>">Don't Change!</a>
                </div>
        </div>
    </div>